__pycache__/
*.py[cod]
.venv/
.vscode/

test1.mp4


archive/**
datasets/**
runs/**

!archive/**/
!datasets/**/
!runs/**/

!**/.gitkeep

!datasets/**/data.yaml
!**/data.yaml

!*.py
!requirements.txt
!README.md
